In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
df_imdb = spark.read.parquet('imdb_parquet/')

In [4]:
(
    df_imdb
    .withColumn('genre',f.split(f.col('genres'),',').getItem(0))
    .groupby('genre')
    .count()
    .orderBy(f.col('count').desc())
    .toPandas()
)

          genre  count
0        Comedy  10991
1         Drama  10761
2        Action   7019
3   Documentary   5886
4         Crime   2325
5     Adventure   2125
6     Animation   1759
7         Short   1451
8         Music   1422
9    Reality-TV   1314
10    Biography    869
11    Talk-Show    690
12           \N    677
13       Family    637
14       Horror    509
15    Game-Show    445
16      Romance    381
17        Adult    361
18         News    338
19      Fantasy    334
20        Sport    241
21      Mystery    216
22       Sci-Fi    211
23      History    192
24      Musical    153
25      Western     80
26     Thriller     66
27          War      9

In [14]:
(
    df_imdb
    .withColumn('genre',f.split(f.col('genres'),',').getItem(0))
    .groupBy('genre','startYear')
    .agg(f.mean('runtimeMinutes').alias('mean_runtimeMinutes'),)
    .orderBy('startYear', f.col('mean_runtimeMinutes').desc())
    .filter(f.col('startYear') == 2021)
    .toPandas()
)

          genre startYear  mean_runtimeMinutes
0         Sport      2021           128.000000
1       Musical      2021            94.000000
2     Game-Show      2021            68.428571
3     Talk-Show      2021            64.200000
4     Adventure      2021            61.507937
5            \N      2021            61.142857
6   Documentary      2021            58.549020
7         Crime      2021            56.375000
8     Biography      2021            55.357143
9        Comedy      2021            51.335329
10     Thriller      2021            50.714286
11   Reality-TV      2021            50.071429
12        Drama      2021            46.509009
13      Romance      2021            45.357143
14      History      2021            44.000000
15       Action      2021            33.061905
16       Horror      2021            30.222222
17        Adult      2021            30.000000
18    Animation      2021            23.353846
19        Short      2021            18.054054
20       Sci-Fi      2021            17.500000
21      Mystery      2021            14.000000
22       Family      2021            13.500000
23      Fantasy      2021            12.142857
24        Music      2021            10.615385
25         News      2021                  NaN
26      Western      2021                  NaN

In [16]:
df_imdb = (
    df_imdb
    .withColumn('genre',f.split(f.col('genres'),',').getItem(0))
)

In [18]:
(
    df_imdb
    .groupby('genre')
    .agg(f.collect_set(f.col('titleType')).alias('lista_tipos_titulo'))
    .orderBy('genre')
    .toPandas()
)

          genre                                 lista_tipos_titulo
0        Action  [tvSpecial, video, tvEpisode, tvMovie, short, ...
1         Adult  [video, tvEpisode, tvMovie, short, videoGame, ...
2     Adventure  [tvSpecial, video, tvEpisode, tvMovie, short, ...
3     Animation  [tvSpecial, video, tvEpisode, tvMovie, short, ...
4     Biography  [tvSpecial, video, tvEpisode, tvMovie, short, ...
5        Comedy  [tvSpecial, video, tvEpisode, tvMovie, short, ...
6         Crime  [video, tvEpisode, tvMovie, short, videoGame, ...
7   Documentary  [tvSpecial, video, tvEpisode, tvMovie, short, ...
8         Drama  [tvSpecial, video, tvEpisode, tvMovie, short, ...
9        Family  [tvSpecial, video, tvEpisode, tvMovie, short, ...
10      Fantasy  [video, tvEpisode, tvMovie, short, videoGame, ...
11    Game-Show  [tvSpecial, tvEpisode, short, tvMiniSeries, tv...
12      History  [tvSpecial, video, tvEpisode, tvMovie, short, ...
13       Horror  [video, tvEpisode, tvMovie, short, videoGame, ...
14        Music  [tvSpecial, video, tvEpisode, tvMovie, short, ...
15      Musical  [tvSpecial, video, tvEpisode, tvMovie, short, ...
16      Mystery  [tvSpecial, video, tvEpisode, tvMovie, short, ...
17         News  [tvSpecial, video, tvEpisode, tvMovie, short, ...
18   Reality-TV  [tvSpecial, video, tvEpisode, tvMovie, short, ...
19      Romance  [video, tvEpisode, tvMovie, short, tvMiniSerie...
20       Sci-Fi  [video, tvEpisode, tvMovie, short, videoGame, ...
21        Short  [tvSpecial, video, tvEpisode, short, tvMiniSer...
22        Sport  [tvSpecial, video, tvEpisode, tvMovie, tvMiniS...
23    Talk-Show  [tvSpecial, video, tvEpisode, tvMovie, tvMiniS...
24     Thriller  [video, tvEpisode, tvMovie, tvMiniSeries, tvSe...
25          War                   [tvEpisode, tvMiniSeries, movie]
26      Western              [tvEpisode, tvMovie, tvSeries, movie]
27           \N  [tvSpecial, video, tvEpisode, tvMovie, videoGa...

In [22]:
(
    df_imdb
    .drop('genre')
    .withColumn('genres', f.explode(f.split(f.col('genres'),',')))
    .groupby('tconst','primaryTitle')
    .pivot('genres')
    .count()
    .na.fill(0)
    .orderBy('tconst')
    .limit(10)
    .toPandas()
)

,tconst,primaryTitle,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,\N
0,tt0002309,Lincoln's Gettysburg Address,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,tt0002434,The Pony Express Girl,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,tt0002437,A Prize Package,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3,tt0002582,The Widow Casey's Return,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,tt0006371,Arms and the Woman,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,tt0007254,The Red Widow,0,0,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,0
6,tt0007326,Seventeen,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,tt0008528,A Régiséggyüjtö,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,tt0009851,Masked Ball,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,tt0012297,Hunger... Hunger... Hunger,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0