In [5]:
# Mudando tipo de coluna

In [6]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.types import IntegerType

In [4]:
from pyspark.sql.functions import col

In [9]:
spark = SparkSession.builder.getOrCreate()

In [10]:
# Criando dataframe como método createDataFrame recendo uma lista com tuplas de duas colunas e passando o schema

In [8]:
df = spark.createDataFrame([('Pedro','4'),('João','5')], schema=['nome', 'id'] )

In [ ]:
# Utilizando o objeto do tipo diretamente

In [11]:
df.select('nome', col('id').cast(IntegerType()))

DataFrame[nome: string, id: int]

In [ ]:
# Utilizando uma string que referência o tipo de dado

In [12]:
df.select('nome', col('id').cast('int'))

DataFrame[nome: string, id: int]