In [2]:
# Ordenação do DataFrame

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,asc,desc

In [4]:
spark = SparkSession.builder.getOrCreate()

In [5]:
df = spark.read.parquet('imdb_parquet/')

In [6]:
# Ordenação ascendente

In [13]:
df.orderBy(asc(col('startYear'))).limit(10).toPandas()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0458020,short,La mort du pape Léon XIII,La mort du pape Léon XIII,0,1903,\N,\N,"Documentary,Short",9.8,9
1,tt2042685,short,The Nigger Boy's Revenge,The Nigger Boy's Revenge,0,1904,\N,\N,"Comedy,Short",9.9,12
2,tt0210346,short,Theodora,Teodora imperatrice di Bisanzio,0,1909,\N,\N,Short,9.4,9
3,tt0172597,movie,Însir'te margarite,Însir'te margarite,0,1911,\N,\N,\N,9.0,15
4,tt0002582,short,The Widow Casey's Return,The Widow Casey's Return,0,1912,\N,\N,"Comedy,Short",9.0,17
5,tt0002309,short,Lincoln's Gettysburg Address,Lincoln's Gettysburg Address,0,1912,\N,\N,"History,Short",9.0,21
6,tt0002434,short,The Pony Express Girl,The Pony Express Girl,0,1912,\N,\N,"Short,Western",9.2,13
7,tt0002437,short,A Prize Package,A Prize Package,0,1912,\N,\N,"Comedy,Short",9.0,12
8,tt1077011,short,The Sneeze,The Sneeze,0,1914,\N,\N,"Comedy,Short",9.3,13
9,tt0006371,movie,Arms and the Woman,Arms and the Woman,0,1916,\N,50,Drama,9.2,18

In [8]:
# Ordenação descendente

In [12]:
df.orderBy(desc(col('startYear'))).limit(10).toPandas()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt8306824,tvEpisode,Episode #1.2,Episode #1.2,0,\N,\N,\N,"Comedy,Drama,Family",9.3,46
1,tt12773622,tvEpisode,The First Day of School,The First Day of School,0,\N,\N,\N,"Action,Animation,Family",9.9,16
2,tt12478522,tvSeries,The Space Between,The Space Between,0,\N,\N,\N,Documentary,9.8,8
3,tt6150348,tvEpisode,Dev and Sona get into an argument,Dev and Sona get into an argument,0,\N,\N,\N,"Drama,Romance",9.5,13
4,tt5847808,tvEpisode,For the Team,For the Team,0,\N,\N,\N,"Crime,Drama,Mystery",9.2,52
5,tt6171358,tvEpisode,DevAkshi Consummate Their Relationship,DevAkshi Consummate Their Relationship,0,\N,\N,\N,"Drama,Romance",9.5,23
6,tt13996172,tvEpisode,Episode #1.11,Episode #1.11,0,\N,\N,\N,Drama,9.6,30
7,tt8306826,tvEpisode,Episode #1.3,Episode #1.3,0,\N,\N,\N,"Comedy,Drama,Family",9.5,42
8,tt7013592,tvEpisode,Rock Paper Scissors...?,Rock Paper Scissors...?,0,\N,\N,\N,"Comedy,Fantasy,Music",9.1,43
9,tt5798534,tvEpisode,Neha and Sameer's Engagement.,Neha and Sameer's Engagement.,0,\N,\N,\N,"Drama,Romance",9.6,38