In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
df = spark.createDataFrame(data=[['Pedro',7],['João',7],['Barbára',10]],schema='nome STRING, nota INT')

In [4]:
df.select('nota').distinct().show()

+----+
|nota|
+----+
|   7|
|  10|
+----+