In [ ]:
# Filtrando através da função col()

In [1]:
from pyspark.sql import SparkSession

In [4]:
from pyspark.sql.functions import col

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
df = spark.read.parquet('imdb_parquet')

In [ ]:
# método contains

In [17]:
df.filter(col('genres').contains('Comedy')).show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|tt0416826|  tvMovie|      Hulla di Bulla|      Hulla di Bulla|      0|     1967|     \N|            95|              Comedy|          9.3|      23|
|tt0523100|tvEpisode|Humbug Not to Be ...|Humbug Not to Be ...|      0|     1967|     \N|            30|Comedy,Family,Fan...|          9.0|     235|
|tt0536670|tvEpisode|Michele Lee and J...|Michele Lee and J...|      0|     1974|     \N|            60|       Comedy,Family|          9.2|      18|
|tt0574019|tvEpisode|     One Night Stand|     One Night Stand|      0|     1986|     \N|            30|        Comedy,Drama|          9.0|      75|
|tt0583892|tvEpisode|  The Shadow We Cast|  The Shadow We Cast|      0|     1997|     \N|            26|        Comedy,Drama|          9.2|      12|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
only showing top 5 rows

In [14]:
# Método isin()

In [29]:
start_year_dict = [2000,2010,2020]

In [30]:
df.filter(col('startYear').isin(start_year_dict)).show(5)

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
| tt0472558|  tvMovie|Sam Phillips: The...|Sam Phillips: The...|      0|     2000|     \N|            90|         Documentary|          9.1|      26|
|tt10712360| tvSeries|      Luna The Siren|      La Sirena Luna|      0|     2020|     \N|            \N|Animation,Drama,F...|          9.4|       8|
|tt11752780|tvEpisode|Chapter 3: The Witch|Chapter 3: The Witch|      0|     2020|     \N|            23|Adventure,Animati...|          9.0|     223|
|tt11758294|tvEpisode|The Will of the P...|The Will of the P...|      0|     2020|     \N|            24|Adventure,Animati...|          9.1|      23|
|tt12058752|tvEpisode|Amsterdam With So...|Amsterdam With So...|      0|     2020|     \N|            \N|     Short,Talk-Show|          9.3|       9|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
only showing top 5 rows

In [31]:
# Método like()

In [32]:
# O like funciona parecido com o like do sql podendo utilizar o _ para um caractere e % para multiplos caracteres

In [41]:
df.filter(col('originalTitle').like('%war%')).show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|tt0901680|tvEpisode|          Rauchwaren|          Rauchwaren|      0|     1966|     \N|            23|              Comedy|          9.8|      20|
|tt0980292|tvEpisode|Independent Spiri...|Independent Spiri...|      0|     2006|     \N|            \N|                News|          9.5|       7|
|tt5585740|tvEpisode|               Owari|               Owari|      0|     2017|     \N|            22|Action,Adventure,...|          9.5|     112|
|tt8116364|tvEpisode| Chandni warns Advay| Chandni warns Advay|      0|     2017|     \N|            \N| Drama,Music,Mystery|         10.0|       7|
|tt8924908|    short|          The Reward|          The Reward|      0|     2016|     \N|            \N|               Short|          9.3|       7|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
only showing top 5 rows

In [40]:
df.filter(col('originalTitle').like('_am')).show(5)

+---------+---------+------------+-------------+-------+---------+-------+--------------+-----------------+-------------+--------+
|   tconst|titleType|primaryTitle|originalTitle|isAdult|startYear|endYear|runtimeMinutes|           genres|averageRating|numVotes|
+---------+---------+------------+-------------+-------+---------+-------+--------------+-----------------+-------------+--------+
|tt6185180|    short|         Sam|          Sam|      0|     2016|     \N|            \N|      Drama,Short|          9.8|       5|
|tt0844153|tvEpisode|         Sam|          Sam|      0|     2003|     \N|            23|Comedy,Reality-TV|          9.0|       7|
+---------+---------+------------+-------------+-------+---------+-------+--------------+-----------------+-------------+--------+

In [ ]:
# rlike()

In [55]:
df.filter(col("originalTitle").rlike("^[0-9]*$")).show(5)

+----------+---------+------------+-------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|    tconst|titleType|primaryTitle|originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|
+----------+---------+------------+-------------+-------+---------+-------+--------------+--------------------+-------------+--------+
| tt3818186|tvEpisode|        1116|         1116|      0|     1970|     \N|            \N|Family,Fantasy,Music|          9.0|       7|
| tt3815772|tvEpisode|        1004|         1004|      0|     1969|     \N|            \N|Family,Fantasy,Music|          9.0|       7|
| tt9262112|tvEpisode|        3358|         3358|      0|     1995|     \N|            55|Adventure,Animati...|          9.0|       7|
|tt11281576|    short|         203|          203|      0|     2017|     \N|            \N| Drama,Mystery,Short|          9.9|     105|
| tt8656506|tvEpisode|         106|          106|      0|     2018|     \N|            \N|          Reality-TV|          9.4|      37|
+----------+---------+------------+-------------+-------+---------+-------+--------------+--------------------+-------------+--------+
only showing top 5 rows

In [44]:
# função startswith()

In [54]:
df.filter(col('originalTitle').startswith('Star')).show(5)

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|tt11697516|tvEpisode|Star Trek Picard ...|Star Trek Picard ...|      0|     2020|     \N|            \N|Comedy,News,Talk-...|          9.4|       7|
|tt11811958|tvEpisode|            StarCrau|            StarCrau|      0|     2019|     \N|            \N|                  \N|          9.6|       6|
| tt0709016|tvEpisode|   Starfish Troopers|   Starfish Troopers|      1|     2000|     \N|            \N| Adult,Comedy,Sci-Fi|         10.0|       5|
| tt5702094|tvEpisode|       Start Digging|       Start Digging|      0|     2016|     \N|            43|  Action,Crime,Drama|          9.2|     541|
|tt11328926|    video|Star Wars SC 38 R...|Star Wars SC 38 R...|      0|     2019|     \N|            \N|        Sci-Fi,Short|          9.1|     248|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
only showing top 5 rows

In [ ]:
# função endswith()

In [53]:
df.filter(col('originalTitle').endswith('Music')).show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|tt0343987|tvSpecial|Live from Studio ...|Live from Studio ...|      0|     1981|     \N|           120|               Music|          9.0|      10|
|tt0514411|tvEpisode|The Tale of the D...|The Tale of the D...|      0|     1992|     \N|            22|Drama,Family,Fantasy|          9.1|     827|
|tt1897828|tvEpisode|      Face the Music|      Face the Music|      0|     2010|     \N|            \N|              Comedy|          9.3|      31|
|tt7662232|    video|The Best Relaxing...|The Best Relaxing...|      0|     2017|     \N|            \N|               Music|          9.3|       7|
|tt8354412|tvEpisode|Outstanding Pagea...|Outstanding Pagea...|      0|     2018|     \N|            \N|           Talk-Show|         10.0|       9|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
only showing top 5 rows

In [ ]:
# between() function

In [52]:
df.filter(col('startYear').between(1980,1990)).show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-------------+-------------+--------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|       genres|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-------------+-------------+--------+
|tt0319762|    movie|   Looking Your Best|   Looking Your Best|      0|     1989|     \N|            71|           \N|          9.4|       9|
|tt0343987|tvSpecial|Live from Studio ...|Live from Studio ...|      0|     1981|     \N|           120|        Music|          9.0|      10|
|tt0574019|tvEpisode|     One Night Stand|     One Night Stand|      0|     1986|     \N|            30| Comedy,Drama|          9.0|      75|
|tt0755487|tvEpisode|        Elliot's Dad|        Elliot's Dad|      0|     1989|     \N|            48|Drama,Romance|          9.0|      63|
|tt0755539|tvEpisode|      The Go Between|      The Go Between|      0|     1990|     \N|            48|Drama,Romance|          9.1|      77|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-------------+-------------+--------+
only showing top 5 rows

In [ ]:
# função isnull()

In [61]:
df.filter(col('endYear').isNull()).show()

+------+---------+------------+-------------+-------+---------+-------+--------------+------+-------------+--------+
|tconst|titleType|primaryTitle|originalTitle|isAdult|startYear|endYear|runtimeMinutes|genres|averageRating|numVotes|
+------+---------+------------+-------------+-------+---------+-------+--------------+------+-------------+--------+
+------+---------+------------+-------------+-------+---------+-------+--------------+------+-------------+--------+